body {
  /*margin: 5% 5% 5% 5%;*/
  max-width: 600px;
  align-items:center;
}

/*.modal-container {
  position: fixed;
  padding: 10px;
  width: 33%;
  background-color: #ffff;
  border:1px dashed #000;
  border-radius: 10px;
  left: 50%;
  transform: translate(-50; 0);
}*/


h1 {
  color: orange;
  font-size: 2em;
  font-family: helvetica, arial, sans-serif;
}

h2 {
  padding: 1% 1% 1% 1%;
  color: orange;
  font-size: 1.5em;
  font-family: helvetica, arial, sans-serif;
}

h3 {
  color: black;
  font-size: .75em;
  font-family: helvetica, arial, sans-serif;
}

h4 {
  color: black;
  font-size: .5em;
  font-family: helvetica, arial, sans-serif;
  padding: 0 1em 0 1em ;
}

button {
  /*padding: 2% 2% 2% 2%;*/
  margin: 2% 2% 2% 2%;
  height: 3em;
  width: 6em;
  outline-style: solid;
  outline-width: .25em;
}

ul {
  list-style: none;
  /*padding: 2% 2% 2% 2%;*/
  font-size: 1.5em;
  font-family: helvetica, arial, sans-serif;
  background-color: pink;
  width: inherit;
  position: fixed;
}

a{
  link color: orange;
}


p {
  padding: 2%;
  font-size: .75em;
  font-family: helvetica, arial, sans-serif;
}

.hbg {
  /*margin-right: 3%;*/
  padding: 3% 3% 3% 3%;
  background-color: grey;
  width: 100%;
  outline-color: black;
  outline-width: medium;
  outline-style: solid;
}

.toptopdiv {
  display: flex;
  /*flex-direction: row;*/
  justify-content: space-between;
  background-color: white;
  /*height: 10%;*/
  width: 100%;
  outline-color: black;
  outline-style: solid;
  outline-width: medium;
  margin-bottom: .5em;
}

.minitoptopdiv1{
  /*height: 8%;*/
  background-color: white;
  padding: 1% 1% 1% 1%;
}

.minitoptopdiv2{
  /*height: 8%;*/
  background-color: white;
  padding: 1% 1% 1% 1%;
}

/*.topdiv {
  background-color: white;
  height: 15%;
  width: 100%;
}*/

.maindiv {
  display: flex;
  flex-direction: row-reverse;
  /*align-content: center;*/
  background-color: white;
  height: 100%;
  width: 100%;
}

.rightkeydiv {
  flex-grow: 1;
  background-color: white;
  padding: 2% 8% 4% 2%
}

.leftkeydiv {
  /*z-index: 100;*/
  /*height:100%;*/
  /*width: 30%;*/
  background-color: white;
  outline-color: black;
  outline-style: solid;
  outline-width: medium;
  padding-right: 1%;

  /*padding: 2% 2% 2% 2%;*/
}

.book {
  display: inline-flex;
  padding-left: 2em;
}

.booksize {
  height: 8em;
  width: auto;
  padding-left: 1em;
  padding-bottom: 3em;
}

.bottomdiv {
  background-color: grey;
  height: 15%;
  width: 98%;
  margin: 1% 3% 0% 0%;
  padding: 1% 1% 1% 1%;
}
